/* HEADER */

.menu-toggle {
  display: block;
  width: 4rem;
  height: 4rem;
  padding-right: 24px;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 46px 1.6rem;
}
.nav-contact {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap, 2rem);
  margin-inline-end: 5em;
  flex-direction: column;
  padding: 92px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.nav-contact[data-visible="true"] {
  transform: translateX(0%);
}
a {
  color: #3a4a42;
  text-decoration: none;
}
.nav-item {
  font-weight: 600;
  font-size: 32px;
  margin: 0 10px;
  line-height: 44px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* header nav-bar */

/* HEADLINE SECTION */

.headline {
  background-image: url(../images/header-illsutration-mobile@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.headline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.4rem 0;
}

.headline-header {
  text-align: center;
}

.headline-title-1 {
  color: #172b4d;
  margin-bottom: 1.6rem;
}

.headline-title-2 {
  color: #36b37e;
  display: inline-block;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
  margin-top: 2rem;
}

.icon-link,
.icon-link:link,
.icon-link:active {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 2.5rem;
  color: #505f79;
  transition: all 0.3s;
}

.icon-link:hover,
.icon-link:focus {
  color: #172b4d;
  transform: scale(1.1);
}

.down-arrow {
  text-align: center;
  margin-top: 6rem;
}

.arrow-link,
.arrow-link:link,
.arrow-link:active {
  width: 4rem;
  height: 4rem;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 50%;
  padding: 0.8rem;
  color: #333;
  transition: all 0.3s;
}

.arrow-link:hover,
.arrow-link:focus {
  transform: scale(1.1);
}

/* MY RECENT WORK */

.recent-work {
  padding: 2.4rem 0;
}

.recent-work-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.green-line {
  width: 4.8rem;
  height: 0.4rem;
  background: #36b37e;
  border-radius: 24px;
}

.project-box {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  border-radius: 11px;
  max-width: 37.5rem;
  margin: 0 auto;
}

.project-img {
  width: 100%;
  background: #ebf0ee;
  height: 250px;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
}

.project-title {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #3a4a42;
  margin-bottom: 2rem;
}

.project-lang-used {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.lang {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 4px;
  padding: 0.8rem 1.2rem;
}

.btn {
  padding: 1.2rem 2.4rem;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  background-color: #36b37f;
  cursor: pointer;
}

.btn:hover {
  background: #36b37f;
}

.btn:active {
  background: #008552;
}

/* About me section */

.about-me {
  padding: 2.4rem 0;
}

.about-me-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.about-me-subtitle {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  width: 351px;
}

.about-me-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  height: 316px;
  width: 327px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.about-title {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 32px;
  color: #344563;
  margin-bottom: 2rem;
}

.about-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-bottom: 4rem;
}

.lang-about {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
  color: #36b37e;
  background: #fff;
  border-radius: 4px;
  padding: 0.8rem 1.2rem;
}

/* Get in touch */

.form-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 58px;
}

.contact-header {
  font-size: 40px;
  font-style: normal;
  line-height: 52px;
  font-weight: 700;
  width: 327px;
  text-align: center;
  color: #172b4d;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.user-name,
.email {
  width: 327px;
  cursor: text;
  padding: 15px 16px;
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
}

.msg {
  width: 327px;
  padding: 25px 12px;
  cursor: text;
}

.msg::placeholder {
  color: #42526e;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

/* .contact-header {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
} */

.my-email-contact {
  text-align: center;
  margin: 32px 0 32px 0;
}

.my-email {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  color: #42526e;
}

.footer {
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .nav-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transform: none;
  }

  a {
    color: #505f79;
    text-decoration: none;
  }

  .nav-item {
    font-size: 10px;
    font-weight: bold;
    margin: 0 10px;
    list-style: none;
  }

  .headline {
    background-image: url(../images/Header-llustration-desktop@2x.png);
    background-position: top;
  }

  .headline-container {
    padding: 13rem;
  }

  @keyframes color-animation {
    from {
      color: papayawhip;
    }

    to {
      color: #36b37e;
    }
  }

  .heading-title {
    width: 700px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    animation-name: color-animation;
    animation-duration: 2s;
  }

  .heading-subtitle {
    width: 700px;
    line-height: 32px;
  }

  .about-me-subtitle {
    width: 920px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .form-flex {
    flex-direction: row;
    padding: 4.2rem;
  }

  .contact-header {
    font-size: 30px;
    width: 90%;
  }

  .form {
    width: 100%;
  }

  .user-name,
  .email,
  .msg {
    width: 100%;
  }

  .my-email-contact {
    display: none;
  }

  .footer {
    border-top: 1px solid #555;
  }
}
